.image_details_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.title {
  font-size: xx-large;
  letter-spacing: 10px;
  color: white;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.image_details_wrapper img {
  border-radius: 20px;
}

.image_details_wrapper p {
  margin: auto;
  width: 50%;
  color: white;
  padding: 15px;
  font-size: xx-large;
  text-align: center;
}
.back-link {
  text-decoration: none;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1rem;
}
